# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore


retoCaminoApp/*~
retoCaminoApp/*.sw[mnpcod]
retoCaminoApp/*.log
retoCaminoApp/*.tmp
retoCaminoApp/*.tmp.*
retoCaminoApp/log.txt
retoCaminoApp/*.sublime-project
retoCaminoApp/*.sublime-workspace
retoCaminoApp/.vscode/
retoCaminoApp/npm-debug.log*

retoCaminoApp/.idea/
retoCaminoApp/.sourcemaps/
retoCaminoApp/.sass-cache/
retoCaminoApp/.tmp/
retoCaminoApp/.versions/
retoCaminoApp/coverage/
retoCaminoApp/dist/
retoCaminoApp/node_modules/
retoCaminoApp/tmp/
retoCaminoApp/temp/
retoCaminoApp/hooks/
retoCaminoApp/platforms/
retoCaminoApp/plugins/
retoCaminoApp/plugins/android.json
retoCaminoApp/plugins/ios.json
retoCaminoApp/www/assets/
retoCaminoApp/www/build/
retoCaminoApp/www/manifest.json
retoCaminoApp/www/service-worker.js
retoCaminoApp/$RECYCLE.BIN/

retoCaminoApp/.DS_Store
retoCaminoApp/Thumbs.db
retoCaminoApp/UserInterfaceState.xcuserstate
