<!--
  Generated template for the RetoHitosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <div *ngIf="marcadores_listo">
    <!-- <div> -->
    <ion-card  *ngFor="let marcador of marcadores" style="display: grid;">
      
        <img src="../../{{marcador.foto}}"/>
        <ion-card-content>
          <ion-card-title>
            {{marcador.nombre}}
            </ion-card-title>
          <p>
            {{marcador.direccion}}
          </p>
          <ion-row no-padding>
              <ion-col text-center>
                <button ion-button clear small color="color-reto-camino" icon-start>
                  <ion-icon name="map"></ion-icon>
                  Mapa
                </button>
              </ion-col>
            </ion-row>
        </ion-card-content>
      </ion-card>
    <!-- </div> -->
  </div>
</ion-content>
